# Make vim the default editor
export EDITOR="vim"

# Larger bash history (allow 32^3 entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE

export HISTCONTROL=ignoredups

# Make some commands not show up in history
export HISTIGNORE="cd:cd -:pwd;exit:date:* --help"

# Add command line colors
export CLICOLOR=1
export LSCOLORS=ExFxCxDxBxegedabagacad

